<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="Laravel" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" /> <!-- 500MB -->
      </requestFiltering>
    </security>

    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/octet-stream" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/octet-stream" enabled="false" />
      </staticTypes>
    </httpCompression>

    <!-- Disable compression for download test route -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <rewrite>
      <outboundRules>
        <rule name="DisableCompressionForSpeedTest" preCondition="IsSpeedTestRoute">
          <match serverVariable="RESPONSE_Content-Encoding" pattern=".+" />
          <action type="Rewrite" value="identity" />
        </rule>
        <preConditions>
          <preCondition name="IsSpeedTestRoute">
            <add input="{URL}" pattern="^/speedtest/download-file" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

  </system.webServer>
</configuration>
