@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply cursor-pointer inline-block;
}

.button {
    @apply text-white py-3 px-8 flex items-center justify-center outline-none rounded-md active:scale-[.98] bg-red-600;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-UltraLight.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Thin.woff2") format("woff2");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-ExtraBlack.woff2") format("woff2");
    font-weight: 950;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/fonts/sans/IRANSansX-Heavy.woff2") format("woff2");
    font-weight: 960;
    font-display: swap;
}

body {
    font-family: "IRANSansX", sans-serif;
}
body.rtl {
    direction: rtl;
    text-align: right;
}

.farsi-digits {
    font-family: "IRANSansX", sans-serif;
    font-feature-settings: "ss01";
}
/* colors */
.primary {
    background-color: #428b7c;
}

.primary-color {
    color: #428b7c;
}
.bg-slider {
    background-color: rgb(151, 195, 185);
}
.custom-border {
    width: 570px;
    height: 2px; /* ضخامت خط */
    border: 2px dashed transparent;
    border-image: repeating-linear-gradient(
            to right,
            black 0,
            black 20px,
            /* طول dash */ transparent 20px,
            transparent 40px /* فاصله dash */
        )
        100 round;
}

:root {
    --dash-length: 20;
    --dash-spacing: 10;
}

.dashed-circle {
    width: 510px;
    height: 510px;
}

@media (max-width: 1280px) {
    .dashed-circle {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 768px) {
    .dashed-circle {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 475px) {
    .dashed-circle {
        width: 150px;
        height: 150px;
    }
}

.dashed-circle svg circle {
    stroke: white;
    stroke-dasharray: var(--dash-length) var(--dash-spacing);
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 50s linear infinite;
}

.animate-spin-reverse {
    animation: spin-reverse 50s linear infinite;
    transform-origin: center center;
}
.circle-item {
    position: absolute;
    top: calc(50% + var(--y) - 75px);
    left: calc(50% + var(--x) - 75px);
}

@media (max-width: 1280px) {
    .circle-item {
        top: calc(50% + var(--y) - 65px);
        left: calc(50% + var(--x) - 65px);
    }
}
@media (max-width: 768px) {
    .circle-item {
        top: calc(50% + var(--y) - 45px);
        left: calc(50% + var(--x) - 45px);
    }
}
@media (max-width: 600px) {
    .circle-item {
        top: calc(50% + var(--y) - 35px);
        left: calc(50% + var(--x) - 35px);
    }
}
@media (max-width: 475px) {
    .circle-item {
        top: calc(50% + var(--y) - 32px);
        left: calc(50% + var(--x) - 32px);
    }
}
.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.bar {
    width: 7px;
    height: 30px;
    /* background: ; */
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
}
.bar1 {
    animation-delay: 0.1s;
}
.bar2 {
    animation-delay: 0.2s;
}
.bar3 {
    animation-delay: 0.3s;
}
.bar4 {
    animation-delay: 0.4s;
}
.bar5 {
    animation-delay: 0.5s;
}
.bar6 {
    animation-delay: 0.6s;
}
.bar7 {
    animation-delay: 0.7s;
}
.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: #428b7c;
    }
    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}

.tools-item {
    --g: 4px; /* the gap */
    --b: 8px; /* border thickness*/
    --c: #669706; /* the color */

    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    filter: grayscale(1%);
    transition: 0.3s;
}
.tools-item:hover {
    --_p: 75%;
    filter: grayscale(0%);
}

.large-rounded {
    border-radius: 0 0 50% 50% / 50px;
}

.v2-menu {
    display: flex;
    /* font: bold 1.5rem sans-serif; */
    font-weight: 600;
    text-transform: uppercase;
    color: grey;
    padding: 0;
    margin: 0;
  }

  .v2-item {
    padding: 0 10px 12px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    font-size: 16px;
  }

  .v2-item:hover {
    color: #428b7c;
  }

  .v2-item::before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background: #428b7c;
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
    transform-origin: left;
  }

  .v2-item:hover::before {
    scale: 1;
    translate: 0;
    transition: 0.3s;
  }

  /* .v2-menu:hover .v2-item::before {
    scale: 1;
  } */

  /* RTL Logic */
  html[dir="rtl"] .v2-item:has(~ .v2-item:hover)::before {
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
  }

  html[dir="rtl"] .v2-item:hover ~ .v2-item::before {
    translate: 100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
  }

  /* LTR Logic */
  html[dir="ltr"] .v2-item:has(~ .v2-item:hover)::before {
    translate: 100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
  }

  html[dir="ltr"] .v2-item:hover ~ .v2-item::before {
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
  }

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #428b7c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #357a6b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #428b7c #f1f1f1;
}
